version: "3.9"

services:
  backend:
    build: .
    container_name: pv-backend
    restart: always

    ports:
      - "5050:5050"

    env_file:
      - .env

    user: root
    privileged: true

    environment:
      - GPIOZERO_PIN_FACTORY=rpigpio

    # Use mock GPIO pins for testing purposes -> to really test GPIO functionality -> start Application on Pi
    # On PI: GPIOZERO_PIN_FACTORY=rpigpio
    devices:
      - /dev/gpiomem:/dev/gpiomem

    volumes:
      - ./config:/app/config
      - ./data:/app/data