version: "3.9"

services:
  backend:
    build: .
    container_name: pv-backend
    restart: unless-stopped

    ports:
      - "5050:5050"

    env_file:
      - .env

    privileged: true

    environment:
      - GPIOZERO_PIN_FACTORY=mock

    # Use mock GPIO pins for testing purposes -> to really test GPIO functionality -> start Application on Pi
    # On PI: GPIOZERO_PIN_FACTORY=rpigpio
    devices:
      - /dev/gpiomem:/dev/gpiomem